/* layout*/
a{
    text-decoration: none;
    color: black;
}


nav{
    position: sticky !important;
    top: 0;
}

.nav-item:last-child{
    margin-bottom: 25px;
}

.login{
    margin-right: auto;
}

.a-cus{
    color: rgb(255, 255, 255) !important;
    text-decoration: none; 
}

.a-cus:hover{
    color: #0096FF !important;
}

.login-a{
    margin-left: 30px; 
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.register-a{
    margin-left: 30px; 
    color: rgb(255, 255, 255);
    text-decoration: none;
}
.logout-a{
    color: rgb(255, 255, 255);
    text-decoration: none; 
    background-color: transparent;
    border: none;
    margin-left: 30px;
}
.login > a:hover {
    color: #0096FF;
}

.logout-a:hover{
    color: #0096FF;
}

.btn{
    background-color: #0096FF !important;
    border: #0096FF !important;
}

.btn:hover{
    background-color: #43b0ff !important;
    border: #43b0ff !important;
}

.btn-mar{
    margin-top: 15px;
}


footer{
    height:70px;
    clear:both;
    position:relative;
    bottom:0;
    width: 100%;
    background-color: rgb(52, 63, 63);
}

.container{
    margin-top: 100px;
    margin-bottom: 100px;
}

.index-card{
    background-color: bisque;
    height: 350px;
    display: grid;
    grid-template-columns: repeat(4fr);
    gap: 3px;
    grid-auto-rows: minmax(25px, auto);
    margin-bottom: 55px;
}

.index-post-image{
    grid-column: 1/4;
    grid-row: 1/4;
    background-color: blue;
}

.index-post-title{
    grid-column: 1/2;
    grid-row: 4;
    background-color: RED;
}

.index-post-price{
    grid-column: 1/4;
    grid-row: 5;
    background-color: yellow;
}

.index-post-location{
    grid-column: 2/4;
    grid-row: 4;
    background-color: green;
}

/*register*/
.register-form{
    margin-top: 50px;
    margin-left: 30%;
    margin-right:25%;
    width: 40%;
    padding: 35px;
    border: 2px solid rgb(185, 176, 176);
    border-radius: 12px;
}

.error-message{
    margin-top: 5px;
    color: red;
    font-size: 6px;
}



.post-create-form{
    margin-top: 50px;
    margin-left: 30%;
    margin-right:25%;
    width: 40%;
    padding: 35px;
    border: 2px solid rgb(185, 176, 176);
    border-radius: 12px;
}

.post-create-form > div > label {
    margin-top: 15px;
    margin-bottom: 5px;
}

.form-m{
    margin-top: 25px !important;
}

.show-wrapper{
    background-color: bisque;
    height: 850px;
    display: grid;
    grid-template-columns: repeat(8fr);
    gap: 3px;
    grid-auto-rows: minmax(25px, auto);
    margin-bottom: 55px;
}

.show-image{
    grid-column: 1/5;
    grid-row: 1/6;
    background-color: blue;
}

.show-info{
    grid-column: 5/8;
    grid-row: 1/6;
    background-color: red;
}

.show-description{
    grid-column: 1/8;
    grid-row: 6/12;
    background-color: green;
}

.show-commment-wrapper{
    width: 100%;
    height: 250px;
    background-color: #0096FF;
}





/*::-webkit-scrollbar*/
::-webkit-scrollbar {
    width: 12px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgb(59, 49, 60); 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(28, 28, 32); 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(28, 28, 32); 
  }